#flex-container{
    display:flex;
    background-color:black;
    color:white;
    justify-content:space-between;
    font-size:20px;
    padding:10px;
    position:sticky;
    top:0;
}

#item2{
 justify-content:between;
}
a{
    color:white;
    text-decoration:none;
    margin-right: 10px;
}
#info-flex{
    display:flex;
    justify-content: space-between;
    padding:10px;
    margin:10px;
}
button{
    width:150px;
    height:35px;
    background-color: black;
    color:white;
}
#para{
    width:600px;
    margin:30px;
}

button{
    margin-top:10px;
    padding:10px;
}
.box{
    height:400px;
    width:400px;
    background-color:green ;
}
.ImageFlex{
    display:flex;
    gap:50px;
    flex-wrap:wrap;
    justify-content: space-around;
   
}
#imageheading{
    margin-left:50px;
}